img {
    width: auto;
    height: 400px;
}

body {
    justify-content: center;
    margin-top: 200px;
    background: linear-gradient(to left, rgb(237, 224, 224), rgb(217, 217, 228), rgb(219, 219, 198));
}

#imgContainer {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

button {
    margin-top: 100px;
    height: 50px;
    border-radius: 10px;
}

#prevButton {
    position: fixed;
    left: 170px;
    bottom: 65%;
}

#nextButton {
    position: fixed;
    right: 170px;
    bottom: 65%;
}

#dotsNav {
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
}

.dotActive {
  background-color: black;
}